



.thumb-display-main-container {
    width: 733px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    .thumb-card {
        position: relative;
        padding: 0;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgb(25,25,25);
        .inner-top {
            border-radius: 20px;
            height: 190px;
            width: 220px;
            display: flex;
            flex-direction: column;
            p {
                margin: 30% 0 0 0;
                text-align: center;
                font-weight: 600;
            }
            .inner-box1 {
                background: white;
                margin: auto 0 0 auto;
                height: 50px;
                width: 50px;
            }
            .inner-box2 {
                position: absolute;
                bottom: 50%;
                right: 0;
                margin: auto 0 0 auto;
                height: 50px;
                width: 50px;
                border-radius: 0 0 50px 0;
            }
        }
        .inner-bottom {
            height: 190px;
            background: white;
            border-radius: 50px 0 20px 20px;
            p {
                margin: 30% 0 0 0;
                text-align: center;
            }
            .contact-container {
                margin: 20px 10px;
                justify-content: center;
                display: flex;
                .icon-contact {
                    cursor: pointer;
                    font-size: 1.7rem;
                    margin: 0 3px;
                }
            }
        }
        #thumbnail-photo-mobile {
            display: none;
        } 
        #thumbnail-photo-desktop {
            box-shadow: 0 2px 5px rgb(25,25,25);
            position: absolute;
            top: 0;
            bottom: 0;
            border-radius: 100px;
            height: 120px;
            width: 120px;
            padding: 0;
            margin: auto;
            left: 0;
            right: 0;
        }
    }
}

@media screen 
and (min-width: 300px)
and (max-width: 750px) {
    .thumb-display-main-container {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        .thumb-card {
            position: relative;
            padding: 0;
            margin: 20px auto;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            box-shadow: 0 2px 5px rgb(25,25,25);
            .inner-top {
                border-radius: 20px;
                height: 150px;
                width: 160px;
                display: flex;
                flex-direction: column;
                // border-bottom-right-radius:  50px;
                p {
                    margin: 30% 0 0 0;
                    text-align: center;
                    font-size: 0.9rem;
                    font-weight: 600;
                }
                .inner-box1 {
                    background: white;
                    margin: auto 0 0 auto;
                    height: 50px;
                    width: 50px;
                }
                .inner-box2 {
                    position: absolute;
                    bottom: 50%;
                    right: 0;
                    margin: auto 0 0 auto;
                    height: 50px;
                    width: 50px;
                    border-radius: 0 0 50px 0;
                }
            }
            .inner-bottom {
                height: 150px;
                background: white;
                border-radius: 50px 0 20px 20px;
                p {
                    margin: 30% 0 0 0;
                    font-size: 0.7rem;
                    text-align: center;
                }
                .contact-container {
                    margin: 20px 10px;
                    justify-content: center;
                    display: flex;
                    .icon-contact {
                        cursor: pointer;
                        font-size: 1.5rem;
                        margin: 0 5px;
                    }
                }
            }
            #thumbnail-photo-desktop {
                display: none;
            } 
            #thumbnail-photo-mobile {
                display: block;
                box-shadow: 0 2px 5px rgb(25,25,25);
                position: absolute;
                top: 0;
                bottom: 0;
                border-radius: 100px;
                height: 70px;
                width: 70px;
                padding: 0;
                margin: auto;
                left: 0;
                right: 0;
            }
        }
    }
}